@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

* {
  padding: 0;
  margin: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", sans-serif;
}
.navbar {
  background-color: black;
  opacity: 70%;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 0;
}
.navbar:hover {
  opacity: 100%;
}
.navbar .container-fluid {
  padding: 0;
}
.navbar-dark .navbar-nav .nav-link {
  font-family: "Amatic SC", sans-serif !important;
  padding: 10px 16px;
  font-size: 1.5rem;
  color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
  background-color: white;
  color: black;
}

.navbar-toggler {
  margin: 10px;
}
/*bg section*/

.bg {
  position: relative;
  background: url("https://www.w3schools.com/w3images/pizza.jpg");
  background-repeat: no-repeat;
  opacity: 90%;
  background-size: cover;
  width: 100%;
  height: 93dvh;
}
.bg::after {
  position: absolute;
  content: "OPEN FROM 10AM TO 12AM";
  bottom: 10px;
  left: 10px;
  z-index: 2;
  background-color: black;
  color: white;
  padding: 5px;
}
.bg h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 6.5rem;
  transform: translate(-50%, -40%);
  color: white;
  text-align: center;
}
.bg h3 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background: black;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
}
.bg h3:hover {
  color: black;
  background-color: white;
}
@media (max-width: 510px) {
  .bg h3 {
    top: 70%;
  }
}

/*menu section*/
#menu {
  background: black;
  padding-inline: 25rem;
  padding-block: 4rem;
}
@media (max-width: 992px) {
  #menu {
    padding-inline: 10px;
  }
}
#menu > .container-fluid {
  color: white;
}
#menu .row:nth-child(2) {
  border: 1px solid white;
  padding-inline: 7rem;
}
#menu h2 {
  text-align: center;
  padding-bottom: 4rem;
  font-size: 4rem;
}
#menu .row:nth-child(2) {
  padding: 0;
  margin: 0;
  text-align: center;
}
#menu h3 {
  margin: 0;
  cursor: pointer;
  padding: 20px;
  font-size: 2rem;
}
#menu .pd {
  padding: 0;
}
#menu #pizza {
  background-color: tomato;
}
#menu h3:hover {
  background-color: tomato;
  color: white;
}

#menu .flavours {
  background-color: white;
  padding-top: 20px;
}
#menu .flavours ul {
  margin-inline: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#menu .flavours ul li {
  color: black;
  font-size: 2.2rem;
}
#menu .flavours ul li .hot {
  background-color: tomato;
  padding: 10px;
  border-radius: 5px;
}
#menu .flavours ul li .new {
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
}
#menu .flavours .price {
  padding: 5px;
  border-radius: 5px;
  background-color: gray;
  color: white;
}
#menu .flavours ul:nth-child(odd) {
  font-weight: bold;
}
#menu .flavours ul:nth-child(even) {
  border-bottom: 1px solid gray;
  margin-inline: 10px;
  padding-bottom: 20px;
  opacity: 60%;
}
.menu_2 {
  display: none;
}

.menu_3 {
  display: none;
}

/*About section*/
#about {
  background: maroon;
  padding-inline: 25rem;
  padding-top: 4rem;
  opacity: 90%;
  padding-bottom: 2rem;
}
@media (max-width: 992px) {
  #about {
    padding-inline: 10px;
  }
}
#about h2 {
  font-size: 4rem;
  color: white;
  padding-bottom: 40px;
  text-align: center;
}
#about p {
  color: white;
  font-size: 2.2rem;
}
.chef {
  margin-block: 20px;
  display: flex;
  justify-content: space-between;
}
.chef p {
  padding-top: 10px;
  line-height: 3;
  color: white;
}
.chef img {
  width: 200px;
  height: 130px;
  border-radius: 50%;
  margin-top: 80px;
}
#about .row:nth-child(2) {
  padding: 0;
}
#about .row:nth-child(2) h3 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin-block: 30px;
}
#about .row:nth-child(2) p {
  font-size: 2rem !important;
  color: white;
  font-size: 18px;
  padding-bottom: 10px;
}

/*map section*/

.map img {
  opacity: 90%;
  width: 100%;
}

/*Contact section*/

#contact {
  padding-inline: 19rem;
  background-color: gray;
  padding-block: 3rem;
}
@media (max-width: 992px) {
  #contact {
    padding-inline: 10px;
  }
}
#contact h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}
#contact p {
  text-shadow: 0.5px 0.5px white;
  color: white;
  font-size: 2.2rem;
}
#contact p span {
  background-color: black;
  padding: 5px;
}
#contact .reserve {
  font-size: 2.2rem;
  padding-block: 10px;
}
#contact input {
  padding-inline: 10px;
  padding-block: 16px;
  width: 100%;
  margin-block: 10px;
  font-size: 2rem;
}
#contact button {
  color: #000 !important;
  background-color: #f1f1f1 !important;
  margin-block: 10px;
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  border: none;
}

/*footer*/

.footer {
  background-color: #000;
}
.footer .row {
  margin: 0;
}
.footer h3 {
  text-align: center;
  padding-block: 40px;
  font-size: 2.2rem;
  color: white;
}
footer h3 a {
  color: white;
  font-size: 2.2rem;
}
footer h3 a:hover {
  color: tomato;
}
